<! DOCTYPE html>
<html lang="en">
    <%- include('../partials/head') %>

    <body>
        <div id="wrapper">
            <%- include('../partials/header') %>
            <div class="hero">
            <%- include('../partials/navigation') %>
            </div>
            <main>
                <%- body %>
            </main>

            <%- include('../partials/footer') %>
        </div>
    </body>
</html>